@model Week3Assignment.Models.User

@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Information</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @HttpContext.Current.User.Identity.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
            
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Home", "Index")
</p>
